
.tag-level-0 a {
	color: #73880A;
}

.tag-level-1 a {
	color: #C79810;
}

.tag-level-2 a {
	color: #356AA0;
}

.tag-level-3 a {
	color: #6BBA70;
}

.tag-level-4 a {
	color: #3F4C6B;
}

.tag-level-5 a {
	color: #FF7400;
}
